imports:
  - { resource: vendor/openeuropa/code-review/dist/library-conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
  tasks.phpcs.triggered_by:
    - php
    - inc
  tasks.phpmd.exclude:
    - vendor/
    - tests/fixtures/
grumphp:
    git_hook_variables:
        EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T web'