{
  "name": "openeuropa/main",
  "require": {
    "openeuropa/dependency-1": "1.0.0"
  },
  "repositories": [
    {
      "type": "path",
      "url": "../*"
    }
  ],
  "extra": {
    "artifacts": {
      "openeuropa/dependency-1": {
        "dist": {
          "url": "file://%ARTIFACT%",
          "type": "%TYPE%"
        }
      }
    }
  },
  "config": {
    "cache-files-ttl": 0
  }
}
